<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/produtos" method="POST">
		<dir>
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="Como Programar">
		</dir>
		<dir>
			<label for="descricao">Descricao</label>
			<textarea cols="10" rows="10" id="descricao" name="descricao" placeholder="Descrição do livro"></textarea>
		</dir>
		<dir>
			<label for="preco">Preço</label>
			<input type="text" id="preco" name="preco" placeholder="150.25">
		</dir>

		<input type="submit" name="" value="Salvar">
	</form>

</body>
</html>